*.iml
.gradle
.idea/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/misc.xml
.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/release/
_Dopameter
.firebaserc
database.rules.json
firebase.json
app/src/main/res/drawable/profile.jpeg
